<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR1">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR1" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R1">First Player or Team:</label>
        <input type = "text" id = "player1R1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R1">Second Player or Team:</label>
        <input type = "text" id = "player2R1" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R1">First Player's Deck:</label>
        <input type = "text" id="deck1R1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R1">Second Player's Deck:</label>
        <input type = "text" id="deck2R1" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->

<!-- Below is form fields for 19 more potential rounds, to be used if we can get that going -->
<!--
<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR2">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR2" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->
<!--
    <div class = "form-group">
        <label for = "player1R2">First Player or Team:</label>
        <input type = "text" id = "player1R2" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->
<!--
    <div class = "form-group">
        <label for = "player2R2">Second Player or Team:</label>
        <input type = "text" id = "player2R2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->
<!--
    <div class = "form-group">
        <label for = "deck1R2">First Player's Deck:</label>
        <input type = "text" id="deck1R2" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->
<!--
    <div class = "form-group">
        <label for = "deck2R2">Second Player's Deck:</label>
        <input type = "text" id="deck2R2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->
<!--
</div> <!-- end roundForm -->

<!--
<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR3">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR3" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->
<!--
    <div class = "form-group">
        <label for = "player1R3">First Player or Team:</label>
        <input type = "text" id = "player1R3" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->
<!--
    <div class = "form-group">
        <label for = "player2R3">Second Player or Team:</label>
        <input type = "text" id = "player2R3" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->
<!--
    <div class = "form-group">
        <label for = "deck1R3">First Player's Deck:</label>
        <input type = "text" id="deck1R3" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->
<!--
    <div class = "form-group">
        <label for = "deck2R3">Second Player's Deck:</label>
        <input type = "text" id="deck2R3" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->
<!--
</div> <!-- end roundForm -->

<!--
<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR4">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR4" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->
<!--
    <div class = "form-group">
        <label for = "player1R4">First Player or Team:</label>
        <input type = "text" id = "player1R4" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->
<!--
    <div class = "form-group">
        <label for = "player2R4">Second Player or Team:</label>
        <input type = "text" id = "player2R4" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->
<!--
    <div class = "form-group">
        <label for = "deck1R4">First Player's Deck:</label>
        <input type = "text" id="deck1R4" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->
<!--
    <div class = "form-group">
        <label for = "deck2R4">Second Player's Deck:</label>
        <input type = "text" id="deck2R4" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->
<!--
</div> <!-- end roundForm -->

<!--
<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR5">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR5" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->
<!--
    <div class = "form-group">
        <label for = "player1R5">First Player or Team:</label>
        <input type = "text" id = "player1R5" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R5">Second Player or Team:</label>
        <input type = "text" id = "player2R5" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R5">First Player's Deck:</label>
        <input type = "text" id="deck1R5" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R5">Second Player's Deck:</label>
        <input type = "text" id="deck2R5" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR6">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR6" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R6">First Player or Team:</label>
        <input type = "text" id = "player1R6" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R6">Second Player or Team:</label>
        <input type = "text" id = "player2R6" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R6">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R6">Second Player's Deck:</label>
        <input type = "text" id="deck2R6" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR7">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR7" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R7">First Player or Team:</label>
        <input type = "text" id = "player1R7" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R7">Second Player or Team:</label>
        <input type = "text" id = "player2R7" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R7">First Player's Deck:</label>
        <input type = "text" id="deck1R7" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R7">Second Player's Deck:</label>
        <input type = "text" id="deck2R7" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR8">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR8" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R8">First Player or Team:</label>
        <input type = "text" id = "player1R8" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R8">Second Player or Team:</label>
        <input type = "text" id = "player2R8" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R8">First Player's Deck:</label>
        <input type = "text" id="deck1R8" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R8">Second Player's Deck:</label>
        <input type = "text" id="deck2R8" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR9">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR9" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R9">First Player or Team:</label>
        <input type = "text" id = "player1R9" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R9">Second Player or Team:</label>
        <input type = "text" id = "player2R9" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R9">First Player's Deck:</label>
        <input type = "text" id="deck1R9" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R9">Second Player's Deck:</label>
        <input type = "text" id="deck2R9" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR10">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR10" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R10">First Player or Team:</label>
        <input type = "text" id = "player1R10" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R10">Second Player or Team:</label>
        <input type = "text" id = "player2R10" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R10">First Player's Deck:</label>
        <input type = "text" id="deck1R10" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R10">Second Player's Deck:</label>
        <input type = "text" id="deck2R10" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR11">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR11" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R11">First Player or Team:</label>
        <input type = "text" id = "player1R11" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R11">Second Player or Team:</label>
        <input type = "text" id = "player2R11" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R11">First Player's Deck:</label>
        <input type = "text" id="deck1R11" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R11">Second Player's Deck:</label>
        <input type = "text" id="deck2R11" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR12">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR12" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R12">First Player or Team:</label>
        <input type = "text" id = "player1R12" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R12">Second Player or Team:</label>
        <input type = "text" id = "player2R12" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R12">First Player's Deck:</label>
        <input type = "text" id="deck1R12" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R12">Second Player's Deck:</label>
        <input type = "text" id="deck2R12" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR13">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR13" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R13">First Player or Team:</label>
        <input type = "text" id = "player1R13" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R13">Second Player or Team:</label>
        <input type = "text" id = "player2R13" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R13">First Player's Deck:</label>
        <input type = "text" id="deck1R13" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R13">Second Player's Deck:</label>
        <input type = "text" id="deck2R13" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR14">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR14" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R14">First Player or Team:</label>
        <input type = "text" id = "player1R14" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R14">Second Player or Team:</label>
        <input type = "text" id = "player2R14" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R14">First Player's Deck:</label>
        <input type = "text" id="deck1R14" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R14">Second Player's Deck:</label>
        <input type = "text" id="deck2R14" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR15">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR15" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R15">First Player or Team:</label>
        <input type = "text" id = "player1R15" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R15">Second Player or Team:</label>
        <input type = "text" id = "player2R15" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R15">First Player's Deck:</label>
        <input type = "text" id="deck1R15" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R15">Second Player's Deck:</label>
        <input type = "text" id="deck2R15" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR16">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR16" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R16">First Player or Team:</label>
        <input type = "text" id = "player1R16" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R16">Second Player or Team:</label>
        <input type = "text" id = "player2R16" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R16">First Player's Deck:</label>
        <input type = "text" id="deck1R16" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R16">Second Player's Deck:</label>
        <input type = "text" id="deck2R16" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR17">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR17" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R17">First Player or Team:</label>
        <input type = "text" id = "player1R17" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R17">Second Player or Team:</label>
        <input type = "text" id = "player2R17" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R17">First Player's Deck:</label>
        <input type = "text" id="deck1R17" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R17">Second Player's Deck:</label>
        <input type = "text" id="deck2R17" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR18">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR18" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R18">First Player or Team:</label>
        <input type = "text" id = "player1R18" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R18">Second Player or Team:</label>
        <input type = "text" id = "player2R18" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R18">First Player's Deck:</label>
        <input type = "text" id="deck1R18" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R18">Second Player's Deck:</label>
        <input type = "text" id="deck2R18" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR19">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR19" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R19">First Player or Team:</label>
        <input type = "text" id = "player1R19" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R19">Second Player or Team:</label>
        <input type = "text" id = "player2R19" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R19">First Player's Deck:</label>
        <input type = "text" id="deck1R19" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R19">Second Player's Deck:</label>
        <input type = "text" id="deck2R19" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLinkR20">Link for the Round:</label>
        <input type = "text" id = "coverageLinkR20" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1R20">First Player or Team:</label>
        <input type = "text" id = "player1R20" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2R20">Second Player or Team:</label>
        <input type = "text" id = "player2R20" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1R20">First Player's Deck:</label>
        <input type = "text" id="deck1R20" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2R20">Second Player's Deck:</label>
        <input type = "text" id="deck2R20" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->
-->