<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


<div class="roundForm">
    <div class = "form-group">
        <label for = "coverageLink">Link for the Round:</label>
        <input type = "text" id = "coverageLink" name="events.rounds.coverage_link">
    </div> <!-- end coverageLink -->

    <div class = "form-group">
        <label for = "player1">First Player or Team:</label>
        <input type = "text" id = "player1" name="events.rounds.player1_name">
    </div> <!-- end Player1 -->

    <div class = "form-group">
        <label for = "player2">Second Player or Team:</label>
        <input type = "text" id = "player2" name="events.rounds.player2_name">
    </div> <!-- end Player2 -->

    <div class = "form-group">
        <label for = "deck1">First Player's Deck:</label>
        <input type = "text" id="deck1" name = "events.rounds.player1_deck">
    </div> <!-- end Deck1 -->

    <div class = "form-group">
        <label for = "deck2">Second Player's Deck:</label>
        <input type = "text" id="deck2" name = "events.rounds.player2_deck">
    </div> <!-- end Deck2 -->

</div> <!-- end roundForm -->


