<div id="incomingCard">
    <h5>Archangel Avacyn</h5>
    <table align="center" class="table-hover">
           
        <tbody>
            <tr>
                <th>Category</th>
                <td>Information</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>White</td>
            </tr>
            <tr>
                <th>Mana Cost</th>
                <td>{3}{W}{W}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>Legendary Creature — Angel</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>Mythic Rare</td>
            </tr>
            <tr>
                <th>Set</th>
                <td>SOI</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>5a</td>
            </tr>
            <tr>
                <th>Power</th>
                <td>4</td>
            </tr>
            <tr>
                <th>Toughness</th>
                <td>4</td>
            </tr>
            <tr>
                <th>Layout</th>
                <td>double-faced</td>
            </tr>
            <tr>
                <th>Multiverse ID</th>
                <td>409741</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>Flash Flying, vigilance When Archangel Avacyn enters the battlefield, creatures you control gain indestructible until end of turn. When a non-Angel creature you control dies, transform Archangel Avacyn at the beginning of the next upkeep.</td>
            </tr>
        </tbody>

    </table>
</div>
