
<div class="jumbotron">
    <h2>Add an Event</h2>
    <form class = "addForm">
        <div class = "form-group">
            <label for = "eventName">Event Name</label>
            <input type = "text" id = "eventName">
        </div> <!-- end eventName -->

        <div class = "form-group">
            <label for = "eventLink">Event Link:</label>
            <input type = "text" id = "eventLink">
        </div> <!-- end eventLink -->

        <div class = "form-group">
            <label for = "matchTime">Match Timestamp:</label>
            <input type = "text" id = "matchTime">
        </div> <!-- end matchTime -->

        <div class = "form-group">
            <label for = "eventFormat">Event Format:</label>
            <input type = "checkbox" name = "eventFormat" value = "standard">Standard
            <input type = "checkbox" name = "eventFormat" value = "modern">Modern
            <input type = "checkbox" name = "eventFormat" value = "legacy">Legacy
            <input type = "checkbox" name = "eventFormat" value = "vintage">Vintage
            <input type = "checkbox" name = "eventFormat" value = "limited">Limited
            <input type = "checkbox" name = "eventFormat" value = "block">Block
            <input type = "checkbox" name = "eventFormat" value = "mixed">Mixed
        </div> <!-- end eventFormat -->

        <div class = "form-group">
            <label for = "Player1">First Player or Team:</label>
            <input type = "text" id = "Player1">
        </div> <!-- end Player1 -->

        <div class = "form-group">
            <label for = "Player2">Second Player or Team:</label>
            <input type = "text" id = "Player2">
        </div> <!-- end Player2 -->

        <div class = "form-group">
            <label for = "Deck1">First Deck:</label>
            <input type = "checkbox" name = "Deck1" value = "black">Black
            <input type = "checkbox" name = "Deck1" value = "green">Green
            <input type = "checkbox" name = "Deck1" value = "red">Red
            <input type = "checkbox" name = "Deck1" value = "blue">Blue
            <input type = "checkbox" name = "Deck1" value = "white">White
            <input type = "checkbox" name = "Deck1" value = "colorless">Colorless
        </div> <!-- end Deck1 -->
        
        <div class = "form-group">
            <label for = "Deck2">First Deck:</label>
            <input type = "checkbox" name = "Deck2" value = "black">Black
            <input type = "checkbox" name = "Deck2" value = "green">Green
            <input type = "checkbox" name = "Deck2" value = "red">Red
            <input type = "checkbox" name = "Deck2" value = "blue">Blue
            <input type = "checkbox" name = "Deck2" value = "white">White
            <input type = "checkbox" name = "Deck2" value = "colorless">Colorless
        </div> <!-- end Deck2 -->

        <button type = "submit">Add Event</button>

    </form> <!-- end addForm -->
</div>  <!-- end jumbotron -->