{{!-- <!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Magic Coverage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="/assets/js/pageActions.js"></script>
        <script src="/assets/js/formActions.js"></script>

    </head>

    <body>
        <div class="container" id="outerContainer">

            <div id="templateHole">
                {{index.handlebars}}
            </div> <!-- end templateHole -->

            <div class="footer">
                <p>Copyright 2018, The Magicians</p>
            </div>  <!-- end footer -->

        </div> <!-- end container -->
    </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Magic Coverage</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    </head>
    <body>
        {{{ body }}}

        {{!-- Add in jQuery --}}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/assets/js/script.js"></script>
        <script src="/assets/js/pageActions.js"></script>
        <script src="/assets/js/formActions.js"></script>

    </body>
</HTML>
