{{!-- <!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Magic Coverage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" />
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../public/assets/js/pageActions.js"></script>
        <script src="../../public/assets/js/formActions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
        <script src="../../index.js"></script>

    </head>

    <body>
        <div class="container" id="outerContainer">

            <div id="templateHole">
                <button class="btn btn-primary" id="toAddFormButton">Add an Event</button>
                {{{body}}}
            </div> <!-- end templateHole -->

            <div class="footer">
                <p>Copyright 2018, The Magicians</p>
            </div>  <!-- end footer -->

        </div> <!-- end container -->
    </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Magic Coverage</title>
        <meta charset="UTF-8">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        {{{ body }}}

        {{!-- Add in jQuery --}}
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
{{!--         // <script src="/assets/js/script.js"></script>
        // <script src="/assets/js/pageActions.js"></script>
        // <script src="/assets/js/formActions.js"></script> --}}

    </body>
</HTML>
