<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Magic Coverage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/assets/css/styles.css" type="text/css" />
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="../../public/assets/js/pageActions.js"></script>
        <script src="../../public/assets/js/formActions.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
        <script src="../../index.js"></script>

    </head>

    <body>
        <div class="container" id="outerContainer">

            <div id="templateHole">
                <button class="btn btn-primary" id="toAddFormButton">Add an Event</button>
                {{{body}}}
            </div> <!-- end templateHole -->

            <div class="footer">
                <p>Copyright 2018, The Magicians</p>
            </div>  <!-- end footer -->

        </div> <!-- end container -->
    </body>
</html>
