 <!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Magic Coverage</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!--    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />  -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <!--    <script src="/assets/js/pageActions.js"></script>  -->

    </head>

    <body>
        <div class="container" id="outerContainer">

            <div class="container" id="templateHole">
                {{{ body }}}
            </div> <!-- end templateHole -->
        </div> <!-- end container -->
        <div class="footer">
            <p>Copyright 2018, The Magicians</p>

        </div>  <!-- end footer -->
    </body>
</html>
