
<div class="jumbotron" id="welcome"><h1>Welcome!</h1></div>


        <script>$(function(){var svg = d3.select("#charts1").append("svg:svg");});</script>
        <div class="ticks chart" id="charts1">Most Popular Players</div>
        
        <script>$(function(){var svg = d3.select("#charts2").append("svg:svg");});</script>
        <div class="ticks chart" id="charts2">Most Popular Decks</div>
    


