
<div class="jumbotron" id="welcome"><h1>Welcome!</h1></div>
<div class="col-xs-12 col-m-3" id="search">
 {{!--    {{> partials/searchForm-partial}} --}}
</div>
<div class="col-xs-12 col-m-4" id="charts1"></div>
<div class="col-xs-12 col-m-5" id="charts2"></div>


