
<div class="jumbotron" id="welcome"><h1>Welcome!</h1></div>

<div>
        <script>
                $(function(){
                        var svg = d3.select("#charts1")
                        .append("svg:svg");
                });
        </script>

        <div id="charts1"></div>
        <div class= "chart">Most Popular Players</div>
    
    
        <script>
                $(function(){
                        var svg = d3.select("#charts2")
                        .append("svg:svg");
                });
        </script>

        <div id="charts2"></div>
        <div class= "chart">Most Popular Decks</div>
    </div>
    
    


