<div class="container">
<div class="jumbotron" id="welcome">
    <h1>Welcome!</h1>
    <p>Magic players are constantly pushing the game forward and players need all 
        the information they can get when selecting the right deck for their next 
        tournament. </p>

    <p>This app is designed to take the drudgery out of watching "game tape." 
         We have created a database of Twitch coverage links, players, and decks so 
         users can see their competition in action.</p>
</div>

<div>
        <script>
        $(function(){
                var svg = d3.select("#charts1").append("svg:svg");
                });
        </script>

        <div id="charts1"></div>
        <div class= "chart">Most Popular Players</div>
    </div>
    
    


