<div class="jumbotron">
                <!-- Image for the sponsor of the tournament -->
            <img id = "sponsorLogo">
            <!-- eventTitle should be the same as eventName from form.hb -->
            <h2 id = "eventTitle"></h2>
            <!-- format should be the same as eventFormat from form.hb -->
            <h3 id = "format"></h3>
    <div class="table-responsive">
        <table class="table-hover">
            <thead>
                <tr>
                    <th>Link</th>
                    <th>Player</th>
                    <th>Player</th>
                    <th>Deck</th>
                    <th>Deck</th>
                </tr>
            </thead>
            <tbody>
                <!-- Image for the platform the link goes to (in case we expand into YouTube) -->
                <tr><img id = "platformLogo"></tr>
                <!-- platformLink should be the same as eventLink from form.hb -->
                <!-- I'm not sure about what text should be there or if we can pull it from somewhere else. -->
                <a id = "platformLink"><h5 id="matchLinkText"></h5></a>
                <!-- PlayerOne is same as player1 and goes here -->
                <!-- PlayerTwo is same as player2 and goes here -->
                <!-- deckOne is same as Deck1 and goes here -->
                <!-- deckTwo is same as deck2 and goes here -->

            </tbody>

        </table>  <!--end table-hover -->
    </div>  <!-- end table-responsive  -->
</div>  <!-- end jumbotron  -->