<div class="container"></div>
<div class="jumbotron" id="welcome">
    <h1>Welcome!</h1>
    <p>Magic players are constantly pushing the game forward and players need all 
        the information they can get when selecting the right deck for their next 
        tournament. </p>

    <p>This app is designed to take the drudgery out of watching "game tape." 
         We have created a database of Twitch coverage links, players, and decks so 
         users can see their competition in action.</p>
</div>

<div class="col-s-6" id="chartsDiv">
        <script>
                $(function(){
                        var svg = d3.select("#charts1")
                        .append("svg:svg");
                });
        </script>

        <div id="charts1"></div>
        <div class= "chart">Most Popular Players<p><br></p></div>
      

    
    
        <script>
                $(function(){
                        var svg = d3.select("#charts2")
                        .append("svg:svg");
                });
        </script>

        <div id="charts2"></div>
        <div class= "chart">Most Popular Decks</div>
</div>

<div class="col-s-6" id="cardInfoSearch">
    <form action="/card/:card" method="GET" class="navbar-form">
        <div class="form-group">
            <input type="text" name="card" class="form-control" placeholder="Card Name" id="cardSearch">
        </div>
        <br>
        <button type="submit" id="cardButton" class="btn tealButton">Search</button>
    </form>
    <div id="cardInfo">
        {{#if cards}}
        {{> cardInfo-partial}}
        {{else}}
        {{> cardBlank-partial}}
        {{/if}}
    </div>
</div>


    
    


