
<div class="jumbotron" id="welcome"><h1>Welcome!</h1></div>
<div class="col-xs-12 col-m-3" id="search">
<<<<<<< HEAD
    {{> searchForm-partial}}
</div>
<div class="col-xs-12 col-m-4" id="charts1"></div>
<div class="col-xs-12 col-m-5" id="charts2"></div>


=======
    <p>This is the div called search</p>
    {{> searchForm-partial}}
</div>
<div class="col-xs-12 col-m-4" id="charts1"><p>This is the div called charts1</p></div>
<div class="col-xs-12 col-m-5" id="charts2"><p>This is the div called charts2</p></div>
>>>>>>> 19c435fe9f29b737f5a1602956a8bc53129250a8


