    {{#each events}}
        <div class="jumbotron" id="{{ ID }}">
            <h2> {{event_name}} </h2> <br>
            <h3> {{event_date}} </h3> <br>
            <h3> {{format}} </h3> <br>

            <div class="table-responsive">
                {{> partials/table-partial}}
            </div>

        </div> {{!-- end jumbotron --}}
    {{/each}} {{!-- end #each events --}}
