<div class="container" id="responseDiv">
    {{#each events}}
        <div class="jumbotron" id="{{ ID }}">
            <h2> {{this.event_name}} </h2> <br>
            <h3> {{this.event_date}} </h3> <br>
            <h3> {{this.format}} </h3> <br>

            <div class="table-responsive">
                {{> table-partial}}
            </div>

        </div> {{!-- end jumbotron --}}
    {{/each}} {{!-- end #each events --}}
</div>