body {
    background-color: #48210e;
    color: #9D4B26;
}

.navbar {
    height:75px;
    background:black;
    width:100%;
    margin:0px auto;
    border-color: #5F89D1;
    border-width: 1px;
}

.nav.navbar-nav li a {
    color: white;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-top: 5px;
}


img {
	height:50px;
}

.jumbotron {
    background-color: blanchedalmond;
}

#welcome {
    margin-top: 3%;
    text-align: center;
}

.charts {
    height: 250px;
    background-color: bisque;
    margin: 10px 0px 10px 0px;
    border-radius: 10px; 
    float: left;  
}

td, th {
    padding: 8px;
}

.chart{
    color: white;
    font-size: 20px;
    text-align: left;
}

td a {
    color: #bf0000;
}

#expandButton {
    background-color: #5F89D1;
    border-color: #48210e;
    color: whitesmoke;
}

.form-control {
    font-size: 17px;
    font-weight: bold;
    color: #5F89D1;
    background-color: whitesmoke;
}

#dropdown {
    color: black;
    padding-top: 10px;
}

.footer {
    text-align: center;
}
