body {
    background-color: #48210e;
    color: #9D4B26;
}

.navbar {
    height:75px;
    background:black;
    width:100%;
    margin:0px auto;
    border-color: #bf0000 black #07889b black; /*first border color is red I liked*/
    border-bottom-width: 3px;
}

.nav.navbar-nav li a {
    color: whitesmoke;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-top: 5px;
}

img {
	height:50px;
}

.dropdown-toggle a:visited {
    color: blanchedalmond;
}


.jumbotron {
    background-color: blanchedalmond;
}

#welcome {
    margin-top: 3%;
    text-align: center;
}

td, th {
    padding: 10px;
}

.chart{
    color: white;
    font-size: 20px;
    text-align: left;
}

td a {
    color: #bf0000;
}

.srchExpndButton {
    background-color: #07889b;
    border-color: #48210e;
    color: whitesmoke;
}

.form-control {
    font-size: 17px;
    font-weight: bold;
    color: #07889b;
    background-color: whitesmoke;
}

#dropdown {
    background-color: blanchedalmond;
    color: #48210e;
    padding-top: 10px;
}

.footer {
    text-align: center;
}
